/* Definição da tela */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; /* espaço livre nas laterais */
}

.letreiro {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
    white-space: nowrap;
    position: absolute;
    animation: deslizar 10s linear infinite;
}

/* Definição da animação do letreiro */
@keyframes deslizar {
    0% {
        left: -100%;  /* Início à esquerda da tela */
    }
    50% {
        left: 100%;  /* Movimento até a direita */
    }
    100% {
        left: -100%;  /* Retorno à esquerda */
    }
}
